body {
  margin: 0;
}

nav {
  background: #222;
  height: 80px;
  width: 100%;
}

label {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

footer {
  text-align: center;
}

footer p {
  display: inline-block;
  padding: 20px;
  max-width: 30%;
  border-top: 1px solid #eee;
}
